
keys.sh

venv
virenv

bin/
include/
lib/
.Python
pip-selfcheck.json
*.pyc
.idea
app.db
share/
.DS_Store
*.rdb
*bower_components*
*whoosh_index*

*node_modules*
.env*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
