<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h2>Contact Us</h2>

            <form action="{{ url_for('contact') }}" method="post" name="login">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text"
                           class="form-control"
                           name="name"
                           id="name"
                           value="{% if form.name.data %}{{ form.name.data }}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="text"
                           class="form-control"
                           name="email"
                           id="email"
                           value="{% if form.email.data %}{{ form.email.data }}{% endif %}">
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control"
                              name="message"
                              id="message"
                            >{% if form.message.data %}{{ form.message.data }}{% endif %}</textarea>
                </div>
                <button type="submit" class="btn btn-success btn-default">Submit</button>
            </form>

        </div>
    </div>

{% endblock %}
