<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

    <h2>Hi, {{ current_user.nickname }}!</h2>
    <ul>
        <li><a href="{{ url_for('send_email_page') }}">Send Email</a></li>
    </ul>

    <div id="content"></div>


{% else %}

    <div class="jumbotron">
        <div class="container">
            <h1>Unauthorized Page</h1>

            <p>This is the default page people land on if they are not authorized and need to login</p>

            <a href="{{ url_for('oauth_authorize', provider='facebook') }}"
               class="btn btn-social btn-facebook btn-primary btn-lg">
                <i class="fa fa-facebook"></i> Sign in with Facebook
            </a>
            <a href="{{ url_for('oauth_authorize', provider='twitter') }}"
               class="btn btn-social btn-twitter btn-primary btn-lg">
                <i class="fa fa-twitter"></i> Sign in with Twitter
            </a>

        </div>
    </div>

{% endif %}
{% endblock %}
